<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Color <bg-color></title>
<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: <bg-color>;
    color: <font-color>;
    font-family: Arial, sans-serif;
  }
</style>
</head>
<body>
  <div>
    <h1>I'm <bg-color></h1>
  </div>
</body>
</html>
